{% extends 'nav_bar.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'algo_builder/builder.css' %}">
{% endblock %}

{% block content %}
<div id='sma_conditions'>
    <h1>SMA</h1>
    <div style='margin:1em;'>
        <form role="range">
            <div class="form-group">
                <label><h5>Range</h5></label>
                <input type="text" class="form-control" placeholder="lower bound">
                <input type="text" class="form-control" placeholder="upper bound">
                <label><h5>Appetite</h5></label>
                <input type="text" class="form-control" placeholder="lower bound">
            </div>
            <button type="submit" class="btn btn-primary">Ok!</button>
        </form>
    </div>
</div>
<div class='builder_container'>
    <div class='fixed_logic'>IF</div>
    <div class='fixed_logic'><div class='droppable'>this</div></div>
    <div class='fixed_logic'>THEN</div>
    <div class='fixed_logic'><div class='droppable'>that</div></div>
</div>
<div class='button_container'>
    <a href='/backtest/add/' class='btn btn-primary' style='margin-left:1.7em;'>Add Conditional</a>
</div><hr>
<div class='lower_portion'>
    <div class='block_container'>
        <div class='row_specific'>
            <div class='draggable' id='sma'>SMA</div>
            <div class='draggable' id='volatility'>Volatility</div>
            <div class='draggable' id='covariance'>Covariance</div>
            <div class='draggable' id='ratio'>Ratio</div>
        </div>
        <div class='row_specific'>
            <div class='draggable' id='event'>Event</div>
            <div class='draggable' id='thresholds'>Thresholds</div>
            <div class='draggable' id='diversity'>Diversity</div>
            <div class='draggable' id='crisis'>Crisis</div>
        </div>
    </div>
    <div class='description_container'>
        <div class='description'>
            <h1 class='description_header'>Description</h1>
            <p class='description_text'>This is a description about stuff where if you read long enough there are words that will come across your eyes and maybe you are processing them although I would advise you don't do that because it doesn't seem to be conjured from a proper cortex source</p>
        </div>
    </div>
</div>
<!-- <div class='number'>
    <form role="number">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Number">
        </div>
        <button type="submit" class="btn btn-default">Enter</button>
    </form>
</div> -->
<hr>
<a href="{% url 'backtest:result' id=id %}"><button id="run-btn" class='btn btn-primary' style='margin-left:1.7em;'>Run Algorithm</button></a>
    <script>
        var testResponse = {
            backtest: {
                id: "{{ id }}",
                start_date: "2013-01-01",
                end_date: "2014-01-01",
                initial_balance: 1000000,
                frequency: 12,
                num_holdings: 1
            },
            algorithm: {
                name : "Test",
                sma: {
                    "period1": 15,
                    "period2": 10,
                    "percent_difference_to_buy": 0.1,
                    "appetite": 5
                    }
            }
        };

        $("#run-btn").on('click', function(e) {
            $.ajax({
                url: "{% url 'backtest:run' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken:"{{ csrf_token }}",
                    data: JSON.stringify(testResponse)
                },
                success: function (data) {
                    console.log(data);
                    console.log("start backtest");
                },
                error: function (xhr, errmsg, err) {
                    alert("error");
                }
            });
        });
    </script>
{% endblock %}

{% block scripts %}
    <script src="{% static 'algo_builder/builder.js' %}"></script>
{% endblock %}