.builder_container {
	margin: 3em;
	padding: 2em;
	width: auto;
	height: auto;
}

.if_statement {
	padding-top: 4px;
	width: 10%;
}

.then_statement {
	padding-top: 4px;
	margin-left: 5%;
	width: 20%;

}

.form_full_two {
	padding-top: 4px;
	width: 30%;
}

.fixed_logic {
	padding-top: 4px;
	float: center;
	text-align: center;
	font-size: 650%;
	display: inline-block;
	height: 150px;
}


.condition_container {
	display: inline-block;
	width: 250px;
	height: 150px;
}

.behavior_container {
	display: inline-block;
	width: 250px;
	height: 150px;
}

.droppable {
	padding-top: 1px;

}

.draggable {
	padding-top: 1.5em;
	text-align: center;
	float: center;
	display: inline-block;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(13, 182, 94, 0.8);
	box-shadow: 7px 7px 5px #888888;
	width: 6em;
	height: 5em;
	margin: 1em;
}
.lower_portion {
	margin-top: 2em;
}

.block_container {
	margin-top: 0;
	padding: 2em;
	display: inline-block;
	width: 70%;
	height: 20%;
}

.description_container {
	display: inline-block;
	width: 30%;
	height: 58em;
}

.description {
	border: 2px solid black;
	margin: 2em;
	padding: 2em;
	height: 50%;

}

.button_container {
	margin-top: 2em;
	float: center;
	padding-left: 40%;
	width: 100%;
}


.field_labels {
	margin-left: 10%;
	width: 10%;
}

.popup_conditions {
	font-size: 10%;
	text-align: left;
	float: left;
	padding: 1%;
	position: absolute;
	background: rgba(255, 255, 255, 1);
	border: 0px solid black;
	width: 0px;
	height: 0px;
}

#behavior_conditions {
	font-size: 10%;
	text-align: left;
	position: absolute;
	background: rgba(255, 255, 255, 1);
	border: 0px solid black;
	width: 0px;
	height: 0px;
}

